/* здесь используйте глобальные переменные */

/* Colors */
$base-white: #ffffff;
$black-text:#2F2222;
$active-link:#5D71DD;
$background-grey:#E5E5E5;
$background-blue:#5D71DD;



/* Viewports */
$desktop-width: 1024px;
$mobile-width-only: 767px;
